@charset "UTF-8";



html{
    font-size: 150%;
    background-color: rgb(170, 170, 228);
    animation: forwards;
    text-align: center;
    z-index: auto;
    background-position: top center,bottom center;
    background-size: auto;
}

.container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
}

.item {
    flex: 1 1 300px;
}

.music-title{
    background-color: rgba(13, 13, 252, 0.771);
}

.back{
    font-size: 150%;
    background-color: rgb(45, 141, 225);
    text-align: right;
    position: absolute;
    right: 10px;
}